@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

body, h1, h2, h3, p, ul, figure {
    margin: 0;
    padding: 0;
}

li { list-style: none; }
a { text-decoration: none; }
address { font-style: normal; }
small { font-size: 1em; }
.hidden { position:absolute; left: -9999px; }
/* 웹폰트 */

body {
    font-family: 'Noto Sans KR','Roboto', sans-serif;
    /* width: 720px; margin: 0 auto; */
    background: #b8dbf8;
}

h1 {
    text-transform: capitalize;
}

/* 헤더 */
#header {
    background: url(../images/bg.jpg) no-repeat left/cover;
    height: 600px;
    position: relative;
}

#header .hgroup {
    /* position: absolute;
    bottom: 25px;
    right: 30px; */
    text-align: center;
    padding-top:300px;
    box-sizing: border-box;
    color: #fff;
}
#header h1 {
    font-size: 40px;
    text-shadow: 2px 2px 1px #000;
}
#header h1 a {
    color: #fff;
}

#header h2 {
    font-size: 1em;
    font-weight: lighter;
    text-shadow: 1px 1px 1px #000;
    padding: 30px 0;
    box-sizing: border-box;
}
/* gnb */
#gnb {
    height: 60px;
    /* 선택사항. 안적어줘도 된다. */
}

#gnb ul li {
    float: left;
    width: 25%;
    /* height: 60px; */
}

#gnb ul li a {
    display: block;
    height: 60px;
    /* line-height가 적용 안되는 사이트를 쓸 수도 있기 떄문에 일단 사용 */
    background: #036;
    text-align: center;
    color: #fff;
    line-height: 60px;
}
#gnb ul li a:hover {
    background: #fff;
    color: #036;
    font-weight: bold;
}
#gnb ul li.on a {
    background: #fff;
    color: #036;
    font-weight: bold;
}
/* 메인 */
#content {
    padding: 20px 10px;
    background: #fff;
}

#content article h3 {
    margin: 20px 0; 
}

#content article figure {
    margin-left: 40px;
}

#content figure:nth-of-type(2) {
    margin-top: 20px;
}

#footer {
    padding: 30px 0 10px;
    background: #030; color: #fff;
    text-align: center;
}

#footer p { 
    margin-bottom: 15px;
}

#footer small {
    text-transform: capitalize;
}